.api-test {
    background-color: #ede4ff;
    border-bottom: 2px solid #8949ab;
    margin: 30px 50px 5px 10px;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.leftpadding10{
    margin-top:20px;
    margin-left: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.face_field{
    display: flex;
}

.face_img_field{
    width:350px;
}

.face_text_field{
    text-align: left;
}

@media (max-width: 640.98px) {
    .api-test {
        margin: 30px auto 5px auto;
    }

    .face_field{
        display: block;
    }

    .face_img_width_max{
        width:325px;
    }
}