<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>@Message</strong>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? Message { get; set; }
}
